html
    head
        title Another Form Assignment
        link(href='style.css', rel='stylesheet')
        script(src='/app.js')

body 
        

        //- register form
        form(method='POST' action="rsvpSubmitted" id="rsvpForm")
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first and last' name='name')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='attending') Attending
            input#attending.form-control(type='radio', name='attending', value=1)
            label(for="notAttending") Not Attending
            input#notAttending.form-control(type="radio", name='attending' value=0)
          div.form-group
            label(for='numberOfGuests') Number of Guests:
            select(name='numberOfGuests')
              option(value=0)='0'
              option(value=1)='1'
              option(value=2)='2'
              option(value=3)='3'
              option(value=4)='4'
              option(value=5)='5'
              option(value=6)='6'
              option(value=7)='7'
              option(value=8)='8'

          div
            button(type="submit") Send the file
        



//- html
//-     head
//-     title="RSVP Event Forms"
//-     script(src='/app.js')
//-     script(src='/script.js')
//-     link(rel="stylesheet" href="style.css")


//-     h1="Please Fill Out The Form Below"
//-     body
//-         form(action = "mongodb://localhost:27017", method = "GET", enctype = "multipart/form-data", id="user-create-form"

//-             div
//-                 label(for="file") Please Enter Your name
//-                 input(
//-                     type="text"
//-                     name="myfile"
//-                     id="name"
//-                     )
//-             div

            


//- The app will have three pages. Note: you should be using pug templates to create the HTML for these pages. The main page (on the GET / route) will be the RSVP form with the following fields:

//- name
//- email
//- attending (radio buttons, "I'll be there!" / "I can't make it")
//- number of guests (dropdown selection, 1-8)
